.todo-form {
    margin-bottom: 32px;
}
.todo-input {
    padding: 7px 16px 7px 8px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #f8f7fc;
    outline: none;
    width: 200px;
    background: transparent;
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-btn {
    margin: 1rem 0px;
    margin-bottom: 70px;
    padding: 9px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg,
        rgb(36, 12, 255) 0%,
        rgb(16, 72, 194) 100%
    );
    color: #fff;
    text-transform: capitalize;
}
option {
    background: #022dec;
}